# Environment
.env
.env.backup
.env.production
.env.local

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage

# Laravel storage
/storage/*.key
/storage/pail

# IDE / Editor
.idea
.vscode
.nova
.zed
.phpactor.json
.phpunit.cache
.phpunit.result.cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PHPUnit
.phpunit.result.cache

# Composer
auth.json

# npm
npm-debug.log
yarn-error.log

# Codex
.codex

# Cursor
.cursor

# Other
_ide_helper.php
Homestead.json
Homestead.yaml